<p>
	Welcome to the Colonnade Home Community and enjoy the amenities.	
</p>

<p>
	Pay HOA monthly fees here – http://www.colonnadeatdulles.com	
</p>

<p>
	The Colonnade pool includes a good size adult pool, kids pool, and a bath house.	
</p>

<p>
	Tennis courts are right next to the pool.	
</p>

<p>
	Colonnade owners also have membership rights to the amenities at the Remington Apartments (across the street from Colonnade). Amenities include swimming pool, two fully equipped work out facilities, full size theater, billiard room and a business room.	
</p>

<p>
	Contact Remington Apartments (703-433-0000 between 9am – 4:30pm) for a personal access card.	
</p>

<p>
	Pools generally open Memorial Day weekend and closes Labor Day weekend. Hours will be announced in the newsletter.	
</p>

<p>
	Pool rules require that all children under the age of 14 be accompanied by an adult. We expect common courtesy to prevail at the pool and loud commotions, running, fighting, foul language, or any other inappropriate behavior will not be tolerated. Offenders will be asked to leave by the lifeguards.	
</p>

<p>
	As a resident of Colonnade you can receive a 15% off of the initial registration fee for membership to LA Fitness Center at the Dulles Town Center Mall.	
</p>