<h1>Contact Colonnade</h1>
<br/>
<p>
	A place to call home.
</p>
<p>
	Hello, RakeshReddy! Welcome to your account. Our goal is to provide you with the best service possible, so we appreciate your participation and hope the Amberleigh Resident Portal enhances your living experience.
</p>
<p>
* Important Upcoming Dates<br/>
Sunday, April 20, 2014: The office will be closed in observance of Easter Sunday.	
</p>

<p>
	* AUM Increase Reminder!<br/>
	Due to the arctic temperatures experienced throughout the Mid-Atlantic this winter, energy consumption rose considerably. You can expect to see increased gas costs on your monthly AUM statement for this month and next month due to increased energy consumption and demand during the winter months.
</p>
<p>
	* Pay Your Rent On-line!<br/>
	Reduce paper waste and enroll in on-line payments via the Resident Portal; it’s fast, easy and convenient! 
</p>
<p>
	* Paper Payment Reminder!<br/>
	If you choose to submit payment via paper check in our rent drop boxes, simply write your address on the check made out to “The Amberleigh” and place it in the box. Please do not use an envelope, and keep your AUM statement for your personal records.	
</p>Contact Us