<strong>
	COMMUNITY MANAGER:
</strong>
<address>
	<b>Jen Ann Santiago</b><br/>
	Jennifer.Santiago@pmpbiz.com<br/>
	703-771-9355 ext 1219
</address>

<br/>
<strong>
	UTILITIES:	
</strong>
<p>
	Towing Service : 703-471-0010<br/>
	American Disposal Services : 703-368-0500<br/>
	Washington Gas : 703-750-1400 or 800-752-7520. Login to your account.<br/>
	Virginia Power : Login to your account.<br/>
	Water:  Login to your account.<br/>
	Cable TV & Internet:  Comcast and Verizon.<br/>
</p>

<br/>
<strong>
	MISC:
</strong>
<br/>
Loudoun County Police Sheriff : 703-777-1021<br/>

Loudoun County Police Non Emergency : 703-777-0445<br/>

Removal of ferrous metals/white goods such as stoves, washers, dryers, hot water tanks and other
bulky metallic items will need to be called into the office of ADS 24 hours in advance for scheduling.<br/>

Refrigirators, freezers and air conditioning units must have refrigerants removed and taged by a certified technician before they are collected. There is an additional charge for the removal of these items.<br/>

Furniture, mattresses, and other non-metallic items are collected on the second pickup (Thursday).<br/>
<br/>
For questions or to schedule white good/appliance pickup,<br/>
Contact :
Customer Service Department at 703-368-0500, Mon – Fri: 8 AM- 4:30 PM