<h3>About Colonnade</h3>
<p>
	GET INVOLVED IN MAKING OUR COMMUNITY BETTER AND SAFE FOR ALL !!!!!
</p>

<p>
	The purpose of this website is to keep all residents up to date on the happenings in our community, as well as a convenient resource for answers concerning community rules and contacting board members.	
</p>

<p>
	This should be helpful especially for new residents, and remote homeowners to stay in touch with the community.	
</p>

<p>
	Colonnade Dulles is a wonderful, family oriented community, uniquely located in close proximity to Dulles Town Center Mall, Regal Movie Theater, Cascades, and number of colleges and universities.	
</p>


<p>It includes 175 homes, a pool, tennis courts, and a kindergarten.</p>

<p>Colonnade Dulles is managed by a Board of Directors who meet on the 2nd Thursday of every other month at 7pm at Remington Apartments Club House.</p>

<p>The board is made up of 4 members and a quorum is required to transact community business.</p>

<p>To maintain continuity, most board members serve for a term of 2 years and are elected on a staggered schedule at the Annual Meeting each September.</p>

<p>The community is governed by the usual covenants and restrictions, a copy of which each home owner receives when they purchase their home.</p>

<p>Renters should ask their landlords for a copy of these documents.</p>

<p>Professional management is provided by Property Management People, Inc, under the direction of Jen Ann Santiago , who is available at all board meetings. Lerner oversees all association contracts, covenant compliance, the annual budget, day to day billing, and follows the directions of the board.</p>

<p>Resident participation in the affairs of the community is encouraged and welcomed.</p>