<h3>
	The Board of Directors	
</h3>
<br/>
<b>
	President	
</b>
 – David Gosney
<br/>
<b>Vice President</b> – Priya Kadati
<br/>
<b>Treasurer</b> - Roman Edmond
<br/>
<b>Secretary</b> - Stephanie Kappes
<br/>
<br/>
<strong>
	Our Committees -	
</strong>

<p>
	<strong>
		Budget and Finance
	</strong>
	Primary function is to advise and assist the Board in preparing the annual budget, review the financial statements of the Association, prepare a quarterly report, and assist in long range planning. This committee works closely with our property management company, PMP.
</p>
<p>
	<strong>Architectural Review</strong>
	  – Meets 2nd Tuesday of each month @ Remington Apartments Club House, 7 pm.
	Responsible for all architectural inspections, hearings and approval of the architectural applications in accordance with the Declaration, Article 9.1 and 9.2..	
</p>
 
<p>
	<strong>Recreation & Communications</strong>
	 – Meets the last Tuesday of every month.
	Responsible for all communication needs such as the newsletter, social events and community related activites.
</p>

<p>
	<strong>
		Covenants	
	</strong>
	 – Meets the 4th Tuesday of every month.
	Responsible for all architectural inspections, hearings and approval of the architectural applications in accordance with the Declaration, Article 9.1 and 9.2.
</p>