<h3>Rules</h3>
<p>
	<b>Colonnade</b> at Dulles Town Center is governed by a strict set of By Laws written to protect the quality of life for all <br/>residents, guests, and the property values.	
</p>

<p>
	We encourage all residents to read their copies of the By Laws, but as a service we have condensed most of the important ones and <br/>listed them here.	
</p>

<p>
	If you rent your Colonnade home, please provide a copy of the community rules to your tenant(s).	
</p>

<b>Noise</b>
<p>
	Loudoun County law prohibits excessive noise after 11:00 pm or before 6:00 am.<br/>

	If you have excessive noise problems, contact the Loudoun County police at their non-emergency number 703-777-0445
</p>

<b>Trash</b>
<p>
	Trash is picked up on Mondays and Thursdays.<br/>

	It should not be placed at the curb any earlier than dusk the evening before a scheduled pick-up.<br/>

	Trash placed outside at times other than those stated is a violation which may be fined.<br/>

	Smelly trash should be sealed and double bagged to prevent odors and pests.<br/>

	If it is windy, wait until the last possible moment to place your trash outside.
</p>

<b>Recycling</b>
<p>
	Colonnade Dulles Residents are encouraged to recycle.<br/>

	Recycling is picked on Mondays. Boxes should be flattened.
</p>

<b>Commercial Vehicles</b>
<p>
	Except in connection with construction activities, the following vehicles may not be parked or used<br/>
	- on any portion of the Common Area,<br/>
	- on a Lot visible from the Common Area,<br/>
	- on public right-of-way within or adjacent to the Property:<br/>
	commercial trucks, trailers, campers, recreational vehicles, boats or other large vehicles, ground maintenance equipment, ATVs, dune <br/>buggies, trail bikes, vehicles on which commercial lettering or equipment is visible or which are larger than normally used for <br/>noncommercial purposes.<br/><br/>

	For full text read Article 8, Restrictions on Use of Lots and Common Area: Rules and Regulations.
</p>

<b>Pets</b>
<p>
	We all love our pets as evident by the number who reside with us here at Colonnade Dulles.<br/>

	To keep out grounds clean, sanitary pet waste stations (bags are also included) are located through out the complex.<br/>

	Residents who do not observe this courtesy will be fined $150.00.<br/>

	Loudoun County has a leash law which is observed in our complex as well.<br/>

	All pets are required by Loudoun County to be current for rabies and other shots.
</p>

<b>Decorations</b>
<p>
	Seasonal decorative items, such as Christmas decorations, must be removed 15 days after the holiday.
</p>

<b>Recreation and Play Equipment</b>
<p>
	Semi-permanent play equipment, a structure or appurtenant to an existing structure, requires approval. Examples include sandboxes, play houses, swing set, etc.<br/>
	Factors that will govern approval of such equipment.<br/>
	Temporary play equipment may not be left unattended at any time.<br/>
	Trampolines, above ground swimming pools, and free-standing basketball hoops are not permitted.
</p>

<b>Playground</b>
<p>
	We have a playground with swings, slide, and climbing apparatus.<br/>

	Children under the age of 6 should be supervised by an adult.
</p>

<b>Grounds</b>
<p>
	Vegetable planting is not permitted. It attracts critters from the woods, like raccoons and groundhogs.<br/>

	If you wish to plant flowers around your patio, please consult with the board first.<br/>

	Any installation of brick, stone, or wood for flower beds must be approved by the board.
</p>

<b>Newsletter</b>
<p>
	Published quarterly, mailed to each home, and posted on the website.	
</p>


<b>Patios & Decks</b>
<p>
	Patios and decks should not to be used for storage.
</p>

<b>Littering</b>
<p>
	Throwing things off, like empty cans bottles cigarette butts, within the community is not allowed. Offenders will be fined $150.	
</p>


<b>Signs</b>
<p>
	While businesses which follow county and all applicable regulations are allowed, display of signs indicating such business and parking of commercial vehicles within the community is not allowed.	
</p>
